/* GENERAL */

[class^="col"] {
  background-color: red;
  border: 1px solid black;
}

header {
  background-color: #2C3E50;
  height: 90px;
}

.line {
  width: 20%;
  height: 7px;
  background-color: white;
  border-radius: 10px;
}

.line_black {
  width: 20%;
  height: 7px;
  background-color: black;
  border-radius: 10px;
}

/* HEADER */

header .container .navbar-brand,
header .navbar .container-fluid .collapse .navbar-nav a {
  color: white;
}

/* MAIN */

.jumbotron img {
  width: 25%;
  margin-bottom: 30px;
}

/* Jumbotron */

.jumbotron {
  height: 585px;
  background-color: #1ABC9C;
  margin-bottom: 80px;
  padding: 20px;
}

.jumbotron .container-sm {
  background-color: red;
  height: 500px;
}

/* Cards */

#cards .container-md{
  background-color: blue;
  margin-bottom: 90px;
}

.sc-cards {
  height: 260px;
  background-color: red;
  border-radius: 10px;
  border: 1px solid;
  margin-top: 10px;
}

.sc-cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* About */

.about {
  background-color: #1ABC9C;
  padding: 90px;
  height: 490px;
  margin-bottom: 80px;
}

/* Contact */

.contact {
  margin-bottom: 80px;
}

/* FOOTER */

.footer_top {
  height: 230px;
  background-color: #3A546D;
}

.footer_down {
  height: 110px;
  background-color: #2C3E50;
}