/* GENERAL */

[class^="container-fluid"] {
  background-color: #2C3E50;
  border: 1px solid black;
  min-height: 90px;
}

[class^="col"] {
  background-color: red;
  border: 1px solid black;
  min-height: 90px;
}

/* MAIN */

/* Jumbotron */

.jumbotron {
  height: 585px;
  background-color: #1ABC9C;
  margin-bottom: 80px;
  padding: 20px;
}

.jumbotron .container-sm {
  background-color: red;
  height: 500px;
}

/* Cards */
 .title {
  background-color: yellow;
  margin: 0 auto;
  width: 600px;
  height: 100px;
 }

.cards .container-md{
  background-color: blue;
}

.sc-cards {
  height: 260px;
  background-color: red;
  border-radius: 10px;
  border: 1px solid;
  margin-top: 10px;
}