/* GENERAL */

[class^="col"] {
  background-color: red;
  border: 1px solid black;
}

header {
  background-color: #2C3E50;
  height: 90px;
}

/* HEADER */

header .container .navbar-brand,
header .navbar .container-fluid .collapse .navbar-nav a {
  color: white;
}

header .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
}
/* MAIN */

/* Jumbotron */

.jumbotron {
  height: 585px;
  background-color: #1ABC9C;
  margin-bottom: 80px;
  padding: 20px;
}

.jumbotron .container-sm {
  background-color: red;
  height: 500px;
}

/* Cards */

.cards .container-md{
  background-color: blue;
  margin-bottom: 90px;
}

.sc-cards {
  height: 260px;
  background-color: red;
  border-radius: 10px;
  border: 1px solid;
  margin-top: 10px;
}

/* About */

.about {
  background-color: #1ABC9C;
  height: 490px;
  padding: 40px;
  margin-bottom: 80px;
}

/* Contact */

.contact {
  margin-bottom: 80px;
}

/* FOOTER */

.footer_top {
  height: 230px;
  background-color: #3A546D;
}

.footer_down {
  height: 110px;
  background-color: #2C3E50;
}